In [2]:
# Import Required Libraries
import sqlite3
import pandas as pd

# Create SQLite Database
conn = sqlite3.connect("example.db")
cursor = conn.cursor()

In [3]:
# Create a Table for Data Products
cursor.execute("""
CREATE TABLE IF NOT EXISTS data_products (
    id INTEGER PRIMARY KEY,
    data_product_name TEXT,
    data_product_published_date TEXT,
    output_port_name TEXT,
    output_port_published_date TEXT
)
""")
conn.commit()

In [4]:
# Insert Data into data_products Table
cursor.execute("""
INSERT INTO data_products (data_product_name, data_product_published_date, output_port_name, output_port_published_date) VALUES
('Product4', '2024-01-01', 'Port4', '2024-01-01'),
('Product4', '2024-01-01', 'Port5', '2024-06-01'),
('Product4', '2024-01-01', 'Port6', '2024-09-01')
""")
conn.commit()

# Query Data from data_products Table to Verify Insertion
df = pd.read_sql_query("SELECT * FROM data_products", conn)
print(df)

   id data_product_name data_product_published_date output_port_name  \
0   1          Product1                  2023-01-01            Port1
1   2          Product2                  2023-02-01            Port2
2   3          Product3                  2023-03-01            Port3

  output_port_published_date
0                 2023-01-02
1                 2023-02-02
2                 2023-03-02

In [ ]:
# Create a Table
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
""")
conn.commit()

# Insert Data into Table
cursor.execute("""
INSERT INTO users (name, age) VALUES
('Alice', 30),
('Bob', 25),
('Charlie', 35)
""")
conn.commit()

# Query Data from Table
df = pd.read_sql_query("SELECT * FROM users", conn)
print(df)

# Update Data in Table
cursor.execute("""
UPDATE users
SET age = 26
WHERE name = 'Bob'
""")
conn.commit()

# Query Data to Verify Update
df = pd.read_sql_query("SELECT * FROM users", conn)
print(df)

# Delete Data from Table
cursor.execute("""
DELETE FROM users
WHERE name = 'Charlie'
""")
conn.commit()

# Query Data to Verify Deletion
df = pd.read_sql_query("SELECT * FROM users", conn)
print(df)

# Drop Table
cursor.execute("DROP TABLE IF EXISTS users")
conn.commit()

# Close the Connection
conn.close()